<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balance.bankbalancecheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankBalanceCheck">
        <activity
            android:name=".BUi.BActivities.AllBankUSSDActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.USSDBankingActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.IFSCDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.LoanDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.IFSCActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.NearByActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.BankingActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.MutualFundActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.CreditLoanActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.ViewSchemesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.SavingSchemeActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.GratuityCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.InflationCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.EPFCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.PPFCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.RdCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.SwapCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.BrokerageCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.FDCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.GSTCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.LoanAmountCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.EMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.Calculators.SIPCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.CalculatorsActivity"
            android:exported="false" />
        <activity
            android:name=".BUi.BActivities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>